*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    color: #747579;
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}
/* main nav */
.nav{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
}
.mlogo{
    /* border: 1px solid yellow; */
    width: 20%;
    height: auto;
}
.edu{
    width: 60%;
}
.dropdowns{
    /* border: 1px solid yellow; */
    width: 40%;
    height: auto;
}
.dropdowns ul li{
    list-style: none;
    font-size: 15px;
    margin: 0px 8px;
    text-align: center;
}
.dropdowns ul li:hover{
    color: orangered;
}

.s-box{
    /* border: 1px solid black; */
    width: 20%;
    height: auto;
    display: flex;
    align-items: center;
}
input{
    border: 1px solid black;
    outline: hidden;
    overflow: hidden;
}
.plog{
    width: 30px;
    border-radius: 20px;
}
.container{
    /* border: 1px solid red; */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left h1{
    font-size: 60px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.left p{
    font-size: 20px;
    color: #747579 ;
    cursor: pointer;
}
 .left ul li{
    display: inline-block;
    list-style: none;
    color: #747579;
    margin: 0px 10px;
    cursor: pointer;
}
.btn-1{
    color: #d6293e;
    border: 1px solid rgba(214, 41, 62, 0.1);
    width: 130px;
    padding: 15px 5px;
    margin-right: 20px;
    border-radius: 10px ;
    cursor: pointer;
}
.btn-1:hover{
    background-color:#d6293e;
    color: white;
}
.btn-2{
    color:#0165ba;
    border: 1px solid rgba(214, 41, 62, 0.1);
    width: 130px;
    padding: 15px 5px;
    border-radius: 10px ;
    cursor: pointer;
}
.btn-2:hover{
    background-color:#0165ba;
    color: white;
}

.container-2{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
}
.b-1{
     /* border: 1px solid orangered; */
     width: 20%;
     height: auto;
     display: flex;
     text-align: center;
     align-items: center;
     justify-content: space-around;
     background-color:#fef6e0;
    }
.b-2{
     /* border: 1px solid orangered; */
     width: 20%;
     height: auto;
     display: flex;
     text-align: center;
     align-items: center;
     justify-content: space-around;
     background-color:#e8ebed
    }
.b-3{
     /* border: 1px solid orangered; */
     width: 20%;
     height: auto;
     display: flex;
     text-align: center;
     align-items: center;
     justify-content: space-around;
     background-color:#f0ebf9;
    }
.b-4{
     /* border: 1px solid orangered; */
     width: 20%;
     height: auto;
     display: flex;
     text-align: center;
     align-items: center;
     justify-content: space-around;
     background-color:#e7f6f8;
    }
    .bh5{
        color: black;
        font-size: 20px;
    }
    .b{
        font-size: 15px;
    }
    .icon-1{
        font-size: 50px;
    }
.container-3{
     /* border: 1px solid black; */
     /* display: flex; */
     justify-content: center;
     align-items: center;
     text-align: center;
     width: 100%;
     height: auto;
 
}
.main-box{
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 95%;
    height: auto;
    background-color: #dee9ed;
    border-radius: 10px;
    padding: 10px;
}
.m1{
    /* border: 1px solid #e5e8bb ; */
    width: 15%;
    height: 40px;
    /* background-color: purple; */
    border-radius: 5px;
    color: #066ac9;
    cursor: pointer;
    font-weight: bold;
}
.m2{
/* .m2 {border: 1px solid #e5e8bb ; */
width: 15%;
height: 40px;
/* background-color: purple; */
border-radius: 5px;
color: #066ac9;
cursor: pointer;
font-weight: bold;
}
.m3{
    width: 15%;
height: 40px;
/* background-color: purple; */
border-radius: 5px;
color: #066ac9;
cursor: pointer;
font-weight: bold;
}
.m4{
    width: 15%;
height: 40px;
/* background-color: purple; */
border-radius: 5px;
color: #066ac9;
cursor: pointer;
font-weight: bold;
}
.m5{
    width: 15%;
height: 40px;
/* background-color: purple; */
border-radius: 5px;
color: #066ac9;
cursor: pointer;
font-weight: bold;
}
.s-h{
    color: black;
    font-weight: bold;
    font-size: 44px;
}
h5{
    color: black;
}
h3{
    color: white;
}
.container-5{
    /* border: 1px solid purple; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    background-color: #107181;
    border-radius: 8px;
}
.m{
    border: 1px solid #f7c32e;
    color: #f7c32e;
    width: 180px;
    cursor: pointer;
}
.m:hover{
    background-color:#f7c32e;
    color: black;
}
.m0{
    color: white;
}
.container-6{
    text-align: center;
}
.h6{
    color: black;
    font-size: 40px;
}
.container-8{
    /* border: 1px solid purple; */
    background-color:#f7feff;
    width: 100%;
}
.img-left{
    width: 110%;
    /* overflow: hidden; */
}
.tb{
    color: black;
    font-size: 32px;
}
.footer{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.b11{
    /* border: 1px solid blue; */
    width: 20%;
    text-align: center;
}
.flogo{
    width: 150px;
}
.fp{
    font-size: 12px;
    text-align: center;
}
.b22{
    /* border: 1px solid blue; */
    width: 12%;
    text-align: center;
}
.fh{
    color: black;
    font-size: 18px;
}
.fc1{
    font-size: 12px;
}
.b33{
    /* border: 1px solid blue; */
    width: 12%;
    text-align: center;
}
.b44{
    /* border: 1px solid blue; */
    width: 12%;
    text-align: center;
}
.b55{
    /* border: 1px solid blue; */
    width: 20%;
    text-align: center;
}
.end{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.el{
    /* border: 1px solid red; */
    width: 40%;
    font-size: 15px;
}
.er{
    /* border: 1px solid red; */
    width: 40%;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
}
.size1{
    font-size: 18px;
}




